# Dependencies
node_modules/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Build outputs
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
Thumbs.db
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# nyc test coverage
.nyc_output

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# parcel-bundler cache
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Storybook build outputs
.out
.storybook-out

# Temporary folders
tmp/
temp/

# Model files
models/

# Cache files
data/cache/

# Some data
data/training/
data/audio/
data/uploads/
data/cache/
data/stats.json
data/external_api_config.json
毕设论文相关资料
data/evaluation_data.xlsx
backend/data/uploaded_testsets/

*.csv
*.png

data/lexicon/enhanced_positive_words.txt
data/lexicon/enhanced_negative_words.txt
